<!-- your html code here -->
<div class="first_heading d-flex">
    <div class="texto1">
        <h1><strong>This First Heading</strong> Will Catch Your Eye</h1>
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Provident temporibus minus dolores fugit autem.<br>
            Est harum ab porro assumenda saepe doloremque ut eum quo voluptates,<br>
            alias magnam recusandae atque corporis!
        </p>
    </div>
    <div>
        <img class="hombre" src="https://i.pinimg.com/originals/e3/8c/70/e38c701aa39edf66a6d7ab72c1afd291.jpg" alt="Hombre">
    </div>
</div>