<!-- your html code here -->
<div class="service d-flex">
    <div>
        <img class="teclado" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScLl_dlBf9RcOjr8Il7Ie3PV7l8W6bulFRnA&s" alt="Teclado">
    </div>
    <div class="texto2">
        <h1><strong>This Second Heading</strong> Is Pretty Cool Too</h1>
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Provident temporibus minus dolores fugit autem.<br>
            Est harum ab porro assumenda saepe doloremque ut eum quo voluptates,<br>
            alias magnam recusandae atque corporis!
        </p>
    </div>
</div>